body {
    font-family: Arial, sans-serif;
}

.content-container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.code-container {
    position: relative;
}

.copy-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy-icon::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 12px;
    background-color: black;
    top: 2px;
    left: 7px;
    transform: rotate(45deg);
}

.copy-icon::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 2px;
    background-color: black;
    bottom: 2px;
    left: 4px;
}

.execution-result {
    background-color: #eee;
    padding: 10px;
    margin-top: 20px;
    border-radius: 4px;
}

pre {
    background-color: #f4f4f4;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
}

code {
    background-color: #f4f4f4;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
}
